QPushButton {
    color: black;
    border-radius: 3px;
    background-color: #FFFFFF;
    font-family: Microsoft YaHei UI;
}

QPushButton:hover {
    background-color: #F2F2F2;
}

QPushButton:pressed {
    background-color: #BDBDBD;
}